/*/body{
    font-family: 'segeo UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
main{
    box-shadow: 30 px 0 px 40 px rgb(196, 196, 196), -30 px 0px 40px rgb(196, 196, 196);
    margin: auto;
    max-width: 900px;
}
.srkl{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    background-color: #fff;
    width: 100%;
}
header{
    height: 160 px;
    padding-top: 10px;
    color: white;
    background-color: #333;
}
.photo{
    margin-left: 7px;
    border-radius: 50%;
    width: 130 px;
    height: 130px;
    overflow: hidden;
}
.des{
    margin-left: 25%;
    margin-top: 10%;
}
h3{
    color: #13c3ba;
    font-weight: bold;
    letter-spacing: 1rem;
}
.right{
    margin: 5px;
    padding: 0;
    margin-top: -10%;
}
.right p{
    margin-left: 600px;
    letter-spacing: 1rem;
}
.info{
    width: 20 px;
    height: 20 px;
}
.section-left{
    background-color: #fff;
    float: left;
    width: 400px;
}
.section-right{
    background-color: #fff;
    float: right;
    width: 400px;
}
h4{
    margin-left: 10%;
    color: #13c3ba;
    letter-spacing: 1rem;
    font-size: 18px;
}
hr .light{
    border-top: 2px solid #13c3ba;
    width: 90%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.atouts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
}
.div{
    margin-left: 10%;
}
.skls{
    padding: 0;
    width: 40%;
    margin-left: 10%;
}
.cool{
    background-color: #fff;
    border: 2px solid #ccc;
    width: 300px ;
    height: 7px;
}
.po{
    margin-top: 20px;
}
.inner{
    height: 100%;
    background-color: orange;
}
.interet{
    margin-left: 10%;
    
}*/
 .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon  {
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255);
    color: #0e171b;
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction:column;
    margin-top: 30px;
}
.container .col-md-3 .row .col-lg-9 .col-sm-12{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    font-size: medium;
    color: rgb(9, 88, 110);
}
.container .row .col-md-3 .row .col-lg-9 .col-lg-12 {
    color: rgb(61, 27, 93);
    margin-top: 10px;
    margin: 40px;
    text-align: center;    
}
header{
    width: 60px;
    height: 60px;
    box-shadow: 6px 10px 20px rgb(15, 39, 62);
    border-radius: 60px / 40px;
    background:  rgb(55, 79, 135);
    color: rgb(222, 221, 233);
    box-shadow: 6px 6px 2px rgb(52, 198, 238);
    margin: 10px; 
}
 .col-md-3{
    font-size: 15px;
    color: aliceblue;
    background-color: rgb(55, 79, 135) ;
    border-radius: 20px;
    box-shadow: 6px 10px 2px rgb(52, 198, 238);
    display: flex;
    justify-content: center;
    text-align: center;
}
.col-md-9{
    font-size: 20px;
}
main{
    background-color: white ;
    border-radius: 5%;  
}
h4 {
    color:white;
    height: 50px;
    background-color:  rgb(138, 121, 155);
    border-radius: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    font-weight: bold;
}
.barre{
    background-color: rgb(138, 121, 155);

}

#hobby .col-md-12 ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#hobby .col-md-12 ul li{
    width: 100px;
    height: 100px;
    border:  solid #600bf4;
    border-radius: 50%;
    position: relative;
    color: #8f75d0;
}
#hobby .col-md-12 ul li i{
    font-size: 40px;
    margin-top: 20px;
}
.light{
    color :rgb(52, 198, 238);
    border-top: 5px solid
}
.exp{
    margin-left: 20px;
}
.margin{
    margin-top: 150px;

}
.texte{
    font-size: 23px;
}
.contact{
    font-size: 15px;
    color: aliceblue;
    width: 300px;
    font-weight: bold;
    text-align: center;  
}
.ml-1{
    margin-left: 10px;
}
.mt{
    margin-top: 100px;
}
.mt p {
    font-weight: bold;
    font-size: 18px;

}
.liste{
    margin-top: 50px;
    font-size: 18px;
}

.liste li{
    list-style-type: inherit; 
    padding-left: 0px;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}
